*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 2rem;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3,5rem);
    grid-template-rows: repeat(3,5rem);
    padding: 30px;

}
.case{
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

p{
    margin-bottom: 2rem;
    font-size: 1rem;
}
button{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    width:250px;
    border:1px solid grey;
    cursor: pointer;
}

.fond{
    background: linear-gradient(#3a9dea, #ea873a);
    color:blue;

}
